
.all-products {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
}
.card-body {
  margin: 20px;
}
.card-price {
  font-size: 20px;
}
.card-text {
  height: 200px;
  margin-bottom: 35px;
}
.btn {
  border-style: none;
  background-color: transparent;
  margin: 20px;
}
.btn:hover {
  cursor: pointer;
}
.cart-items {
  position: absolute;
  right: 20px;
  color: white;
}
.icon-cart {
  width: 25px;
  height: 25px;
  margin-top: 26px;
  margin-right: 30px;
}
.cart-num {
  position: absolute;
  color: rgb(52, 25, 45);
  font-weight: bold;
  top: 8px;
  right: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 5px;
}
.div-order {
  width: 500px;
  height: fit-content;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin: 20px;
}
.txt-total {
  text-align: end;
}
.table-order {
  text-align: center;
}
th {
  padding: 10px;
}
td {
  padding-left: 15px;
  padding-right: 15px;
}
